main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .form-container{
     display:flex;
     justify-content:center;
     align-items: center;
     width: min(80%,300px);
     height: 400px;
    .form-area {
      &__title{
      /*  text-align: center;*/
      }
      &__button{
        width:100%;
        margin-top:5px;
      }
    }
  }
}
